/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  font-size: 175%;
  text-align: center;
}

p {
  border: 1px solid black;
  width: 90%;
  margin: 5%;
  padding: 15px;
  padding-top: 80px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
}

.title {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    font-size: 125%;
    padding: 15px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    position: relative;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    position: relative;
  }
  .col-md-6 {
    width: 50%;
  }
}

/********** Mobile only **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    position: relative;
  }
  .col-sm-12 {
    width: 100%;
  }
}

#p1 {
  background-color: #b1ffd4;
  color: green;
}

#p2 {
  background-color: #fff5a6;
  color: brown;
}

#p3 {
  background-color: #c7f1ff;
  color: blue;
}
